<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>


<body class="eni-page-background">
<title layout:fragment="title">Films</title>
<div layout:fragment="content">
    <div th:each="movie : ${movies}">

        <div class="uk-padding-small">
            <div class="eni-movie-card" th:style="'background-image: url(' + @{${movie.photo}} + ');'">
                <div class="eni-movie-card-layer-2">
                    <h1 th:text="${movie.title}"></h1><span th:text="${movie.duration} + ' min'"></span>
                    <div>
                        <i class="fa fa-star" th:classappend="${movie.getNote() >= star} ? 'eni-star-check' : ''"
                           th:each="star: ${maxStars}"></i>
                    </div>
                    <p class="eni-desc" th:text="${movie.synopsis}"></p>
                </div>
                <!--On aurait pu aussi écrire le a différemment
                <a class="eni-movie-card-click" th:href="@{'/details-movies/' + ${movie.id}}">
                -->
                <a class="eni-movie-card-click" th:href="@{/details-movies/{id}(id=${movie.id})}">

                </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>