<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"><script/>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css" />

    <link rel="stylesheet" href="eni-theme.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<header >
    <div>
        <h1>Chauve-Streamer</h1>



        <h2>Le Meilleur site pour mater du Chauve</h2>
    </div>
</header>

<body class="eni-page-background" th:each="movie : ${movies}">


<div class="uk-child-width-1-1@m" uk-grid>
    <div  >
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="chauve-qui-peut.png" width="300" height="120" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title" th:text="${movie.title}"></h3>
                <i th:each="star: ${maxStars}" class="fa fa-star" th:classappend="${movie.getNote() >= star} ? 'eni-star-check' : ''"></i>
                <p
                <p th:text="${movie.synopsis}"></p>
            </div>
        </div>
    </div>
</div>

   <div class="uk-child-width-1-1@m" uk-grid>
       <div>
           <div class="uk-card uk-card-default">
               <div class="uk-card-media-top">
                   <img src="chauve-qui-peut-v2.png" width="300" height="120" alt="">
               </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title"  th:text="${movie.title}"></h3>
                        <i class="fas fa-star"></i>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
           </div>
       </div>
   </div>

</body>
</html>