<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"><script/>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="eni-theme.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<header >
    <div>
        <h1>Chauve-Streamer</h1>
    </div>

    <div>
        <h2>Le Meilleur site pour mater du Chauve</h2>
    </div>
</header>

<body>
    <h2>Chauve Mecanic</h2>
    <img class="uk-align-center eni-icon-header-page" src="chauve-qui-peut.png">

    <h2>Chauve Qui Peut</h2>
    <img class="uk-align-center eni-icon-header-page" src="chauve-qui-peut-v2.png">

</body>
</html>